* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  min-height: 100vh;
  min-width: 650px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  width: 80%;
  max-width: 600px;
  container-type: inline-size;
  position: relative;
}

.logo {
  background: url('./assets/raven-square@1.png') center no-repeat;
  background-size: cover;
  width: 100%;
  aspect-ratio: 1 / .95;
  margin-left: 4.75%;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(5rem, 25cqw, 10rem);
  user-select: none;
  width: 100%;
  padding: 0 4.25%;
}

.text span.vmiddle {
  position: relative;
  top: -.225em;
}

.yellow {
  color: #FFC600;
}